release-notes
logs
project/project
project/target
TwitterScreamer.conf
config/TwitterScreamer.conf
target
lib_managed
src_managed
project/boot
tmp
.history
dist
.DS_Store
.cache
.settings
.classpath
bin
.class
.project
.ivy2
.idea
.idea_modules
